extends ../layouts/common
block content
    .container-fluid
        .row.d-flex.justify-content-between.align-items-center
            .col-9.col-sm-10.col.d-flex.justify-content-between.align-items-center
                h1 Danh sách lớp
                .search-container
                    form.form(action='/class/search', method='GET')
                        .form-row.d-flex.justify-content-between.align-items-center
                            .input.search-input
                                input(class="form-control" type="text" placeholder=placeholderSearch aria-label="Search" name="q")
                            .button
                                button.btn(type='submit', style="border-radius: 5px; padding: 3px 20px; color: pink; font-size: 24px; border: 0px")
                                    i.fal.fa-search
            .col-3.col-sm-2
                a.d-block.mr-4.p-1.btn.btn-info.text-center(href="/class/create", style="font-size: 20px") Tạo lớp
        .row 
            .table-responsive
                table.table.table-hover
                    thead.thead-light.text-center
                        th STT
                        th.text-left ID
                        th.text-left Tên lớp
                        th.text-left Giáo viên
                        th Sĩ số
                        th
                        th
                    tbody.text-center
                        each oneclass in classes
                            -var teachersTeachingArr=[]
                            each teacher in teachers
                                if(teacher.classId.indexOf(oneclass.id) != -1)
                                    -teachersTeachingArr.push(teacher.teachername)
                            -var teacherTeachingStr = teachersTeachingArr.join(' & ')
                            tr
                                td.text-center.align-middle=++count
                                td.text-left.align-middle(style="max-width: 130px; overflow-wrap: break-word; word-wrap: break-word;")=oneclass.id
                                td.text-left.align-middle=oneclass.classname
                                td.text-left.align-middle= teacherTeachingStr
                                td.align-middle=oneclass.number
                                td(style="width: 100px")
                                    a.btn.btn-outline-primary(href=`/class/view/${oneclass.id}`) Xem
                                td(style="width: 100px")
                                    a.btn.btn-outline-danger(href=`/class/delete/${oneclass.id}`) Xóa

