extends ../layouts/common
block content
    .container-fluid
        .row.d-flex.justify-content-between.align-items-center
            .col-8.col-sm-8
                h1 Danh sách lớp: 
                    span(style="color: #589cdb") #{thisClass.classname}
                    a.btn.btn-secondary.ml-4(href="/class") Quay lại
            .col-4.col-sm-4
                
        .row
            .col-9.col-sm-9.col-sm-9.d-flex.justify-content-between.align-items-center
                .info.d-flex
                    h4.p-0 Giáo viên: 
                        span(style="color: blue")= teachersTeachingArr
                    h4.pl-4(style="color: var(--text-color)")  Sĩ số: 
                        span(style="color: green")=` ${ thisClass.number}`
                .search-container
                    form.form(action='/class/searchStudent', method='GET')
                        .form-row.d-flex.justify-content-between.align-items-center
                            .input
                                input(name="id" value=thisClass.id hidden)
                                input(class="form-control" type="text" placeholder=placeholderSearch aria-label="Search" name="q")
                            .button
                                button.btn(type='submit', style="border-radius: 5px; padding: 3px 20px; color: pink; font-size: 24px; border: 0px")
                                    i.fal.fa-search
            .col-3.col-sm-3
                a.d-block.mr-4.btn.btn-info.p-1.text-center(href="/class/addStudent", style="font-size: 20px") Thêm học viên
        .row 
            .table-responsive
                table.table.table-hover
                    thead.thead-light.text-center
                        th STT
                        th.align-top Ảnh
                        th.text-left ID học viên
                        th.align-top.text-left Tên học viên
                        th.align-top.text-center Giới tính
                        th.align-top.text-center Ngày sinh
                        th
                        th
                    tbody.text-center
                        if students
                            each student in students
                                if(student.classId.indexOf(thisClass.id) != -1)
                                    tr
                                        td.text-center.align-middle=++count
                                        td.align-middle
                                            if !student.avatar
                                                img.rounded-circle(width="48px", height="48px", src="https://res.cloudinary.com/hoapha1009/image/upload/v1589121362/management-center/teacher-default_gaqfks.png")
                                            else
                                                img.rounded-circle(width="48px", height="48px", src=student.avatar)
                                        td.text-left.align-middle(style="max-width: 100px; overflow-wrap: break-word; word-wrap: break-word;")=student.id
                                        td.text-left.align-middle=student.studentname
                                        if student.gender == true
                                            td.align-middle Nữ
                                        else
                                            td.align-middle Nam
                                        td.align-middle= moment(student.birthday).format('DD-MM-YYYY')
                                        td(style="width: 100px")
                                            a.btn.btn-outline-primary(href=`/point/view/${student.id}`) Điểm
                                        td(style="width: 100px")
                                            a.btn.btn-outline-danger(href=`/class/view/remove/${student.id}`) Xóa
                        else
                            tr 
                                td 
                                    h1 Chưa có học sinh
                


