extends ../layouts/common
block content
    .container-fluid
        .row.d-flex.justify-content-between.align-items-center
            .col-8.col-sm-8
                h1 Danh sách lớp: 
                    span(style="color: #589cdb") #{thisClass.classname}
            .col-4.col-sm-4
                
        .row
            .col-9.col-sm-9
                h4.p-0 Giáo viên: 
                    span(style="color: blue")= teachersTeachingArr
                    span.pl-4(style="color: var(--text-color)") Sĩ số:
                    span(style="color: green")=` ${ thisClass.number}`
            .col-3.col-sm-3
                a.d-block.mr-4.btn.btn-info.p-1.text-center(href="/class/addStudent", style="font-size: 20px") Thêm học viên
        .row 
            .table-responsive
                table.table.table-hover
                    thead.thead-light.text-center
                        th STT
                        th.align-top Ảnh
                        th.text-left ID học viên
                        th.align-top.text-left Tên học viên
                        th.align-top.text-center Giới tính
                        th.align-top.text-center Ngày sinh
                        th
                        th
                    tbody.text-center
                        if students
                            each student in students
                                if(student.classId.indexOf(thisClass.id) != -1)
                                    tr
                                        td.text-center.align-middle=++count
                                        td.align-middle
                                            if !student.avatar
                                                img.rounded-circle(width="48px", height="48px", src="https://res.cloudinary.com/hoapha1009/image/upload/v1589121362/management-center/teacher-default_gaqfks.png")
                                            else
                                                img.rounded-circle(width="48px", height="48px", src=student.avatar)
                                        td.text-left.align-middle(style="max-width: 100px; overflow-wrap: break-word; word-wrap: break-word;")=student.id
                                        td.text-left.align-middle=student.studentname
                                        if student.gender == true
                                            td.align-middle Nữ
                                        else
                                            td.align-middle Nam
                                        td.align-middle= moment(student.birthday).format('DD-MM-YYYY')
                                        td(style="width: 100px")
                                            a.btn.btn-outline-primary(href=`/point/view/${student.id}`) Điểm
                                        td(style="width: 100px")
                                            a.btn.btn-outline-danger(href=`/class/view/remove/${student.id}`) Xóa
                        else
                            tr 
                                td 
                                    h1 Chưa có học sinh
        .row
            .col-5.col-sm-5
            .col-7.col-sm-7
                a.btn.btn-secondary(href="/class") Quay lại


