extends ../layouts/common
block content
    .container-fluid
        .row.d-flex.justify-content-between.align-items-center
            .col-9.col-sm-9.d-flex.justify-content-between.align-items-center
                h1 Danh sách giáo viên
                .search-container
                    form.form(action='/teacher/search', method='GET')
                        .form-row.d-flex.justify-content-between.align-items-center
                            .input
                                input(class="form-control" type="text" placeholder=placeholderSearch aria-label="Search" name="q")
                            .button
                                button.btn(type='submit', style="border-radius: 5px; padding: 3px 20px; color: pink; font-size: 24px; border: 0px")
                                    i.fal.fa-search
            .col-3.col-sm-3
                a.d-block.mr-4.btn.btn-info.p-1.text-center(href="/teacher/create", style="font-size: 20px") Thêm giáo viên
        .row 
            .table-responsive
                table.table.table-hover
                    thead.thead-light.text-center
                        th.align-top STT
                        th.align-top Ảnh
                        th.align-top.text-left ID
                        th.align-top.text-center Họ tên giáo viên
                        th.align-top Giới tính
                        th.align-top Ngày sinh    
                        th.align-top Số điện thoại
                        th.align-top Địa chỉ
                        th.align-top(style="min-width: 120px") Lớp
                        th
                        th
                    tbody.text-center
                        each oneteacher in teachers
                            -var classesTeachingArr=[]
                            each oneclass in classes
                                if(oneteacher.classId.indexOf(oneclass.id) != -1)
                                    -classesTeachingArr.push(oneclass.classname)
                            -var classesTeachingStr = classesTeachingArr.join(' & ')
                            tr
                                td.text-center.align-middle= ++count
                                td.align-middle
                                    if !oneteacher.avatar
                                        img.rounded-circle(width="48px", height="48px", src="https://res.cloudinary.com/hoapha1009/image/upload/v1589121362/management-center/teacher-default_gaqfks.png")
                                    else
                                        img.rounded-circle(width="48px", height="48px", src=oneteacher.avatar)
                                td.text-left.align-middle= oneteacher.id
                                td.text-left.align-middle= oneteacher.teachername
                                if oneteacher.gender == true
                                    td.align-middle Nữ
                                else
                                    td.align-middle Nam
                                td.align-middle= moment(oneteacher.birthday).format('DD-MM-YYYY')
                                td.align-middle= oneteacher.phone
                                td.align-middle= oneteacher.address
                                td.align-middle= classesTeachingStr
                                td.align-middle(style="width: 100px")
                                    a.btn.btn-outline-primary(href=`/teacher/view/${oneteacher.id}`) Xem
                                td.align-middle(style="width: 100px")
                                    a.btn.btn-outline-danger(href=`/teacher/delete/${oneteacher.id}`) Xóa



