extends ../layouts/common
block content
    .container-fluid
        h1 Tạo chứng chỉ:
        if errorMessage
            .alert.alert-danger=errorMessage
        if successMessage
            .alert.alert-success=successMessage
        form.form.container-fluid(method="post", action='/certi/create')
            .form-row
                .form-group.col-3
                    label(for="type") Chọn loại lớp: 
                    select.custom-select#type(name="type")
                        option --Chọn loại--
                        option(value="T") Tin học
                        option(value="L") Ngoại ngữ
                .form-group.col-3
                    label(for="class") Chọn lớp: 
                    select.custom-select#class(name="class")
                        option --Chọn lớp--
                        each oneclass in classes
                            option(value=oneclass.id, data-pub= oneclass.type)= oneclass.classname
                .form-group.col-6
                    label(for="student") Chọn học viên: 
                    select.custom-select#student(name="student")
                        option --Chọn học viên--
                        each student in students
                            option(value=student.id, data-pub= student.classId)= `Id: ${student.id} - Tên: ${student.studentname}`
            .form-row(style="bottom: 10px; width: 100%")
                .col-4
                .col-6
                    button.btn.btn-primary.my-2.mr-4.d-inline-block.btn-lg(style="width: 200px", name="btn", value="createCerti") Tạo chứng chỉ
                    a.btn.btn-secondary.btn-lg(href="/certi") Quay lại
