extends ../layouts/common
block content
    .container-fluid
        .row.d-flex.justify-content-between.align-items-center
            .col-9.col-sm-9.d-flex.justify-content-between.align-items-center
                h1 Danh sách chứng chỉ
                .search-container
                    form.form(action='/certi/search', method='GET')
                        .form-row.d-flex.justify-content-between.align-items-center
                            .input
                                input(class="form-control" type="text" placeholder=placeholderSearch aria-label="Search" name="q")
                            .button
                                button.btn(type='submit', style="border-radius: 5px; padding: 3px 20px; color: pink; font-size: 24px; border: 0px")
                                    i.fal.fa-search
            .col-3.col-sm-3
                a.d-block.mr-4.p-1.btn.btn-info.text-center(href="/certi/create", style="font-size: 20px") Tạo chứng chỉ
        .row 
            .table-responsive
                table.table.table-hover
                    thead.thead-light.text-center
                        th STT
                        th.text-left ID chứng chỉ
                        th.text-left Tên học viên
                        th.text-left Cấp
                        th
                        th
                    tbody.text-center
                        each certi in certies
                            tr
                                td.text-center.align-middle=++count
                                td.text-left.align-middle(style="max-width: 130px; overflow-wrap: break-word; word-wrap: break-word;")=certi.id
                                each student in students
                                    if(student.id == certi.studentid)
                                        td.text-left.align-middle=student.studentname
                                td.text-left.align-middle=certi.result
                                td(style="width: 100px")
                                    a.btn.btn-outline-primary(href=`/certi/view/${certi.id}`) Xem
                                td(style="width: 100px")
                                    a.btn.btn-outline-danger(href=`/certi/delete/${certi.id}`) Xóa

