extends ../layouts/common
block content
    .container-fluid
        .row.d-flex.justify-content-between.align-items-center
            .col-9.col-sm-9.d-flex.justify-content-between.align-items-center
                h1 Danh sách học viên
                .search-container
                    form.form(action='/student/search', method='GET')
                        .form-row.d-flex.justify-content-between.align-items-center
                            .input
                                input(class="form-control" type="text" placeholder=placeholderSearch aria-label="Search" name="q")
                            .button
                                button.btn(type='submit', style="border-radius: 5px; padding: 3px 20px; color: pink; font-size: 24px; border: 0px")
                                    i.fal.fa-search
            .col-3.col-sm-3
                a.d-block.mr-4.btn.btn-info.p-1.text-center(href="/student/create", style="font-size: 20px") Thêm học viên
        .row 
            .table-responsive
                table.table.table-hover
                    thead.thead-light.text-center
                        th.align-top STT
                        th.align-top Ảnh
                        th.align-top.text-left ID
                        th.align-top.text-center Họ tên học viên
                        th.align-top Giới tính
                        th.align-top Ngày sinh    
                        th.align-top Số điện thoại
                        th.align-top Email
                        th.align-top Địa chỉ
                        th.align-top(style="min-width: 120px") Lớp
                        th
                        th
                    tbody.text-center
                        each student in students
                            -var classStudyingArr=[]
                            each oneclass in classes
                                if(student.classId.indexOf(oneclass.id) != -1)
                                    -classStudyingArr.push(oneclass.classname)
                            -var classStudyingStr = classStudyingArr.join(' & ')
                            tr
                                td.text-center.align-middle= ++count
                                td.align-middle
                                    if !student.avatar
                                        img.rounded-circle(width="48px", height="48px", src="https://res.cloudinary.com/hoapha1009/image/upload/v1589121362/management-center/teacher-default_gaqfks.png")
                                    else
                                        img.rounded-circle(width="48px", height="48px", src=student.avatar)
                                td.text-left.align-middle= student.id
                                td.text-left.align-middle= student.studentname
                                if student.gender == true
                                    td.align-middle Nữ
                                else
                                    td.align-middle Nam
                                td.align-middle= moment(student.birthday).format('DD-MM-YYYY')
                                td.align-middle= student.phone
                                td.align-middle= student.email
                                td.align-middle= student.address
                                td.align-middle= classStudyingStr
                                td.align-middle(style="width: 100px")
                                    a.btn.btn-outline-primary(href=`/student/view/${student.id}`) Xem
                                td.align-middle(style="width: 100px")
                                    a.btn.btn-outline-danger(href=`/student/delete/${student.id}`) Xóa
