extends ../layouts/common
block content
    .container-fluid
        h1 Học viên:
        if error
            .alert.alert-danger=error
        if success
            .alert.alert-success=success
        form.form.container-fluid(method="post", action="/student/view", enctype="multipart/form-data")
            .form-row
                .form-group.col-7.form
                    .form-group
                        input.form-control(type="text", name="id", value= student.id, hidden)
                        label(for="studentname") Họ tên học viên: 
                        input.form-control#studentname(type="text", name="studentname", value= student.studentname, required)
                    .form-group
                        label(for='gender') Giới tính:
                        if(student.gender == true)
                            input#gender.form-control(type='text', name="gender", value="Nữ", required)
                        else
                            input#gender.form-control(type='text', name="gender", value="Nam", required) 
                    .form-group
                        label(for='birthday') Ngày sinh:
                        input#birthday.form-control(type='text', name="birthday", value= moment(student.birthday).format('DD-MM-YYYY'), required) 
                .form-group.col-5.form
                    .form-group.row
                        .col-3
                        .col-9
                            img.rounded-circle(src=student.avatar, width="200px", height="200px")
                    .form-group.row
                        .col-3
                            label.ml-3(for="avatar") Thay ảnh:
                        .col-9
                            input#avatar(type="file", name="avatar")
            .form-row
                .form-group.col-12
                    label(for="address") Địa chỉ: 
                    textarea.form-control#phone(name="address", rows="3", required)= student.address
            .form-row
                .form-group.col-6
                    label(for="phone") Số điện thoại: 
                    input.form-control#phone(type="text", name="phone", value= student.phone, required)
                .form-group.col-6
                    label(for='email') Email: 
                    input.form-control#email(type="text", name="email", value= student.email, required)
            .form-row
                .form-group.col-12
                    label(for='class') Học lớp: 
                    select#class.form-control(name="class", required)
                        option(value=student.classId, style="color: red")= classStudyingStr
                        each oneclass in classes
                            option(value=oneclass.id)= oneclass.classname
            .form-row
                .col-4
                .col-6
                    button.btn.btn-primary.my-2.mr-4.d-inline-block.btn-lg(style="width: 200px") Cập nhật
                    a.btn.btn-secondary.btn-lg(href="/student") Quay lại

